<h2 mat-dialog-title>Create Invoice</h2>
<mat-dialog-content>
    <mat-form-field>
        <input matInput type="number" placeholder="Mobile" [(ngModel)]="mobile" [disabled]="mobileSynchronized" />
        <button mat-button matSuffix mat-icon-button (click)="findMobile()" *ngIf="mobile && !mobileSynchronized">
            <mat-icon *ngIf="!mobileSynchronized" color="warn">search</mat-icon>
        </button>
        <button mat-button matSuffix mat-icon-button *ngIf="invalidUser()" (click)="editMobile()">
            <mat-icon color="warn">mode_edit</mat-icon>
        </button>
        <button mat-button matSuffix mat-icon-button *ngIf="mobileSynchronized" (click)="deleteMobile()">
            <mat-icon color="warn">close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Ticket Id" [(ngModel)]="ticketId" [disabled]="ticketIdSynchronized" />
        <button mat-button matSuffix mat-icon-button (click)="findTicket()" *ngIf="ticketId && !ticketIdSynchronized">
            <mat-icon *ngIf="!ticketIdSynchronized" color="warn">search</mat-icon>
        </button>
        <button mat-button matSuffix mat-icon-button *ngIf="ticketIdSynchronized" (click)="deleteTicket()">
            <mat-icon color="warn">close</mat-icon>
        </button>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="createInvoice()" [disabled]="invalidInvoice()">Invoice
        <mat-icon>receipt</mat-icon>
    </button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <!-- ENTRA EN BUCLE Y TE SATURA EL EQUIPO!!!!! <button mat-raised-button mat-dialog-close (click)="reservation()" [disabled]="invalidReservation()">Reservation</button>-->
</mat-dialog-actions>