<mat-card>
  <mat-card-subtitle>Filter</mat-card-subtitle>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="text" placeholder="Invoice Id" #invoiceId cdkFocusInitial/>
    </mat-form-field>
    <button mat-mini-fab color="primary" (click)="findInvoice(invoiceId.value)" [disabled]="invoiceId.value===''">
      <mat-icon>search</mat-icon>
    </button>
    <mat-form-field>
      <input matInput type="text" placeholder="Mobile" #mobile/>
    </mat-form-field>
    <button mat-mini-fab color="primary" (click)="findByMobile(mobile.value)" [disabled]="mobile.value===''">
      <mat-icon>search</mat-icon>
    </button>
    <mat-form-field>
      <input matInput type="text" placeholder="This Year Invoices" readonly/>
    </mat-form-field>
    <button mat-mini-fab color="primary" (click)="thisYearInvoices()">
      <mat-icon>search</mat-icon>
    </button>
    <mat-form-field class="date">
      <input [(ngModel)]="initialDateInput" matInput [matDatepicker]="initialDate" placeholder="Choose a initial date">
      <mat-datepicker-toggle matSuffix [for]="initialDate"></mat-datepicker-toggle>
      <mat-datepicker #initialDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="finalDateInput" matInput [matDatepicker]="finalDate" placeholder="Choose a final date">
      <mat-datepicker-toggle matSuffix [for]="finalDate"></mat-datepicker-toggle>
      <mat-datepicker #finalDate></mat-datepicker>
    </mat-form-field>
    <button mat-mini-fab color="primary" (click)="findInvoivesCreationDatesBetween()"
            [disabled]="!initialDateInput || !finalDateInput">
      <mat-icon>search</mat-icon>
    </button>
  </mat-card-content>
</mat-card>

<app-crud [title]="title" [columns]="columns" [deleteAction]="false" [editAction]="false" [data]="data"
          (create)="create()"
          (read)="read($event)"></app-crud>
