<h2 mat-dialog-title>Create Invoice</h2>
<mat-dialog-content>
    <app-user-quick-crud (found)="updateUser($event)"></app-user-quick-crud>
    <mat-form-field>
        <input matInput type="text" placeholder="Ticket Id" [(ngModel)]="ticketId" [disabled]="ticketIdSynchronized" />
        <button mat-button matSuffix mat-icon-button (click)="findTicket()" *ngIf="ticketId && !ticketIdSynchronized">
            <mat-icon *ngIf="!ticketIdSynchronized" color="warn">search</mat-icon>
        </button>
        <button mat-button matSuffix mat-icon-button *ngIf="ticketIdSynchronized" (click)="deleteTicket()">
            <mat-icon color="warn">close</mat-icon>
        </button>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="createInvoice()" [disabled]="invalidInvoice()">Invoice
        <mat-icon>receipt</mat-icon>
    </button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
