<br>
<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="35%">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>Ventas anuales</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-card class="example-card">
            <mat-card-content>
                <mat-form-field fxFlex="35%">
                    <input matInput [matDatepicker]="dpInicio" placeholder="Periodo de Inicio" #dpInicioA disabled>
                    <mat-datepicker-toggle matSuffix [for]="dpInicio"></mat-datepicker-toggle>
                    <mat-datepicker #dpInicio startView="multi-year" disabled="false"></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="40%" class="dpFin">
                    <input matInput [matDatepicker]="dpFin" placeholder="Fin de Periodo" #dpFinA disabled>
                    <mat-datepicker-toggle matSuffix [for]="dpFin"></mat-datepicker-toggle>
                    <mat-datepicker #dpFin startView="multi-year" disabled="false"></mat-datepicker>
                </mat-form-field>
                <button class="refresh" type="submit" mat-fab color="primary" (click)="createVentaAnual(dpInicioA.value, dpFinA.value);" [disabled]="dpInicioA.value === '' || dpFinA.value === ''">
                    <mat-icon>refresh</mat-icon>
                </button>
            </mat-card-content>
            <div class="clearfix"></div>
            <div class="col-md-6">
                <div id="chart_anual" class="chart"></div>
            </div>

        </mat-card>
    </div>
    <div class="item item-2" fxFlex="35%">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>Ventas mensuales</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-card class="example-card">
            <mat-card-content>
                <mat-form-field fxFlex="35%">
                    <input matInput [matDatepicker]="dpInicioM" placeholder="Periodo de Inicio" #dpInicioMounth disabled>
                    <mat-datepicker-toggle matSuffix [for]="dpInicioM"></mat-datepicker-toggle>
                    <mat-datepicker #dpInicioM startView="year" disabled="false"></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="dpFin" fxFlex="40%">
                    <input matInput [matDatepicker]="dpFinM" placeholder="Fin de Periodo" #dpFinMounth disabled>
                    <mat-datepicker-toggle matSuffix [for]="dpFinM"></mat-datepicker-toggle>
                    <mat-datepicker #dpFinM startView="year" disabled="false"></mat-datepicker>
                </mat-form-field>
                <button class="refresh" type="submit" mat-fab color="primary" (click)="createVentaMes(dpInicioMounth.value, dpFinMounth.value);" [disabled]="dpInicioMounth.value === ''|| dpFinMounth.value === ''">
                    <mat-icon>refresh</mat-icon>
                </button>
            </mat-card-content>
            <div class="col-md-6">
                <div id="chart_mes" class="chart"></div>
            </div>
        </mat-card>
    </div>
    <div class="item item-3" fxFlex="35%">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>Producto por mes</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-card class="example-card">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Product by code" type="text" #code>
                </mat-form-field>
                <button type="submit" mat-fab color="primary" (click)="createProdxMes(code.value); createProdxMes.value=''" [disabled]="code.value === ''">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-card-content>
            <div class="col-md-6">
                <div id="chart_prodmes" class="chart"></div>
            </div>

        </mat-card>
    </div>
</div>
<br>