<br>
<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="35%">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>Ventas anuales</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-card class="example-card">
            <mat-card-content>
                <mat-icon>event</mat-icon>
                <mat-form-field fxFlex="35%">
                    <mat-select placeholder="Periodo de Inicio" #yearI>
                        <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-icon>event</mat-icon>
                <mat-form-field fxFlex="35%">
                    <mat-select placeholder="Fin de Periodo" #yearF>
                    <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="refresh" type="submit" mat-fab color="primary" (click)="graficArea(2018, yearF.value);">
                    <mat-icon>refresh</mat-icon>
                </button>
            </mat-card-content>
            <div class="clearfix"></div>
            <div class="col-md-6">
                <div id="areaYear" class="chart"></div>
            </div>

        </mat-card>
    </div>
    <div class="item item-2" fxFlex="35%">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>Ventas mensuales</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-card class="example-card">
            <mat-card-content>
                <mat-icon>event</mat-icon>
                <mat-form-field fxFlex="35%">
                    <mat-select placeholder="Periodo de Inicio" #mounthI>
                      <!--  <mat-option *ngFor="let mounth of mounths" [value]="mounth.value">{{mounth.viewValue}}</mat-option>-->
                        <mat-option *ngFor="let key of meses" [value]="meses">{{meses}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-icon>event</mat-icon>
                <mat-form-field fxFlex="35%">
                    <mat-select placeholder="Periodo de Inicio" #mounthF>
                        <mat-option *ngFor="let mounth of mounths" [value]="mounth.value">{{mounth.viewValue}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="refresh" type="submit" mat-fab color="primary" (click)="graficColum(mounthI.value, mounthF.value);">
                    <mat-icon>refresh</mat-icon>
                </button>
            </mat-card-content>
            <div class="col-md-6">
                <div id="columMonth" class="chart"></div>
            </div>
        </mat-card>
    </div>
    <div class="item item-3" fxFlex="35%">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>Producto por mes</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-card class="example-card">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Product by code" type="text" #code>
                </mat-form-field>
                <button type="submit" mat-fab color="primary" (click)="graficCode(code.value);"
                    [disabled]="code.value === ''">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-card-content>
            <div class="col-md-6">
                <div id="areaCode" class="chart"></div>
            </div>

        </mat-card>
    </div>
</div>
<br>