<h2 mat-dialog-title *ngIf="!edit">New Schedule Event</h2>
<h2 mat-dialog-title *ngIf="edit">Edit Schedule Event</h2>

<mat-dialog-content>
  <mat-form-field *ngIf="edit">
    <input matInput type="text" placeholder="Id" [(ngModel)]="scheduler.id" [disabled]="edit" required cdkFocusInitial/>
    <mat-error>Field required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="datetime-local" placeholder="Choose a date" required [(ngModel)]="scheduler.dateTime"/>
    <mat-error>Field required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Title" [(ngModel)]="scheduler.title" required/>
    <mat-error>Field required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="1"
              matAutosizeMaxRows="5" [(ngModel)]="scheduler.description"></textarea>
    <mat-error>Field required</mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [disabled]="!scheduler.dateTime" *ngIf="edit" (click)="save()">Save</button>
  <button mat-raised-button [disabled]="!scheduler.dateTime" *ngIf="!edit" (click)="create()">Create</button>
</mat-dialog-actions>
