<mat-card>
  <mat-card-title>
    <mat-icon color="primary">shopping_cart</mat-icon>
    Schedule
  </mat-card-title>

  <!--

    <div fxLayout="row">
      <div class="width20">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" type="datetime-local">
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="marginLeft2 width30">
        <mat-form-field class="width80">
          <input matInput placeholder="Title" value="">
        </mat-form-field>
      </div>

      <div class="marginLeft2 width30">
        <mat-form-field class="width80">
            <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="1"
                      matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </div>

      <div class="marginLeft2">
        <button mat-button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon color="warn">add_alarm</mat-icon>
        </button>
      </div>
    </div>

-->

  <mat-card-content>
    <div fxLayout="row" class="width100">
      <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 width100" matSort>

        <ng-container matColumnDef="dateTime">
          <mat-header-cell *matHeaderCellDef> Date & Time</mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.dateTime}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.description}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="create()">
              <mat-icon color="warn">add_alarm</mat-icon>
            </button>
          </mat-header-cell>


          <mat-cell *matCellDef="let item">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="edit(item)">
              <mat-icon color="warn">mode_edit</mat-icon>
            </button>

            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="delete(item)">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </mat-cell>


        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let item; columns: displayedColumns;"></mat-row>

      </mat-table>

    </div>
  </mat-card-content>
</mat-card>
