<h2 mat-dialog-title>Addition Family</h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-select placeholder="Family" [(ngModel)]="childId">
            <mat-option *ngFor="let family of families" [value]="family.id">{{ family.description }}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>
    <button mat-raised-button color="accent" [disabled]="!childId" (click)="add()">Add</button>
    <button mat-raised-button color="accent" (click)="create()">Create</button>
</mat-dialog-actions>