<h2 mat-dialog-title>Total: {{total | currency:'EUR':'symbol'}}</h2>
<mat-dialog-content>
    <app-user-quick-crud (change)="updateUser($event)"></app-user-quick-crud>
    <mat-form-field>
        <input matInput type="number" placeholder="Card" [(ngModel)]="ticketCreation.card" />
        <button mat-button matSuffix mat-icon-button aria-label="Card" (click)="fillCard()">
            <mat-icon color="warn">credit_card</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Cash" [(ngModel)]="ticketCreation.cash" cdkFocusInitial />
        <button mat-button matSuffix mat-icon-button (click)="fillCash()">
            <mat-icon color="warn">euro_symbol</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Voucher" [disabled]="true" [(ngModel)]="ticketCreation.voucher" />
        <button mat-button matSuffix mat-icon-button aria-label="Voucher" (click)="consumeVoucher()">
            <mat-icon color="warn">local_offer</mat-icon>
        </button>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="requestedInvoice" [disabled]="invalidInvoice()">
        <span> Invoice ({{ticketCreation.userMobile}})</span>
    </mat-checkbox>
    <div class="mat-raised-button mat-primary" *ngIf="returnedCash()>0"> Return: {{returnedCash() | currency:'EUR':'symbol'}}</div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close cdkFocusInitial>Cancel</button>
    <button mat-raised-button color="accent" (click)="checkOut()" [disabled]="invalidCheckOut()">Pay
        <span class="mat-suffix" *ngIf="shoppingCartService.getTotalCommited()<total">(+{{shoppingCartService.getTotalCommited()}})</span>
    </button>
</mat-dialog-actions>