<mat-card>
    <mat-card-title>
        <mat-icon color="primary">shopping_cart</mat-icon> Shooping Cart {{shoppingCartService.total | currency:'EUR':'symbol'}}
    </mat-card-title>
    <mat-card-content>
        <mat-table class="mat-elevation-z8" #table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef  fxFlex="5%">{{shoppingCartService.indexShoppingCart}} # </mat-header-cell>
                <mat-cell *matCellDef="let i = index" fxFlex="5%"> {{i+1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description" >
                <mat-header-cell *matHeaderCellDef fxFlex="50%"> Description </mat-header-cell>
                <mat-cell *matCellDef="let item" fxFlex="50%"> {{item.description}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="retailPrice">
                <mat-header-cell *matHeaderCellDef fxFlex="8%"> Price </mat-header-cell>
                <mat-cell *matCellDef="let item" fxFlex="8%"> {{item.retailPrice}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef fxFlex="5%"> Nº </mat-header-cell>
                <mat-cell *matCellDef="let item" fxFlex="5%">
                    <input matInput type="number" step="1" min="1" [value]="item.amount" (blur)="update(item, $event, 'amount')" />
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="discount" >
                <mat-header-cell *matHeaderCellDef fxFlex="8%"> % </mat-header-cell>
                <mat-cell *matCellDef="let item" fxFlex="8%">
                    <input matInput type="number" [value]="item.discount" (blur)="update(item, $event, 'discount')" />
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="total">
                <mat-header-cell *matHeaderCellDef fxFlex="8%"> Total </mat-header-cell>
                <mat-cell *matCellDef="let item" fxFlex="8%">
                    <input matInput type="number" [value]="item.total" (blur)="update(item, $event, 'total')" />
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef  fxFlex="15%">
                    <button mat-button matSuffix mat-icon-button (click)="exchange()">
                        <mat-icon color="primary">autorenew</mat-icon>
                    </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let item"  fxFlex="15%">
                    <mat-checkbox [checked]="item.committed" (change)="changeCommitted(item)"></mat-checkbox>
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="delete(item)">
                        <mat-icon color="warn">close</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let item; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input matInput placeholder="Product by code" type="text" #code>
            </mat-form-field>
            <button type="submit" mat-mini-fab color="primary" (click)="add(code.value); code.value=''" [disabled]="code.value === ''">
                <mat-icon>search</mat-icon>
            </button>
            <mat-form-field>
                    <input matInput [placeholder]="stockLabel" type="text" [value]="stock" readonly>
            </mat-form-field>
        </form>
        <button mat-raised-button color="accent" (click)="checkOut()" [disabled]="shoppingCartService.total===0">
            <mat-icon mat-icon-button>credit_card</mat-icon> Check out
            <mat-icon>euro_symbol</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="createBudget()" [disabled]="shoppingCartService.total===0">
            <mat-icon>description</mat-icon> Budget
        </button>
    </mat-card-content>
</mat-card>