<mat-card style="margin:1rem;">
    <mat-card-title>Token expiration</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content style="margin:1rem;">
        <mat-card-actions>
                <h3>Token lifetime:</h3>
                <mat-card-subtitle>The actual token lifetime is displayed below. <b>This value can be manually changed in the code.</b></mat-card-subtitle>
            <mat-form-field>
                <mat-select disabled placeholder={{lifetime[0].viewValue}}hours>
                    <mat-option *ngFor="let time of lifetime" [value]="time.value">
                        {{ time.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button disabled mat-button color="primary" (click)="successful()"><mat-icon>save</mat-icon>&nbsp; Update</button>
            <mat-divider></mat-divider>
            <h3>Clear session token: </h3>
            <mat-card-subtitle>This action will <b>inmediately expire</b> your token. <b>This session will be finished!</b></mat-card-subtitle>
            <button mat-button color="primary" (click)="clearTokens()"><mat-icon>warning</mat-icon>&nbsp; Expire token</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>