<h3 mat-dialog-title>Cash Movements</h3>
<mat-dialog-content>
        <mat-radio-group class="radio-buttons-column" [(ngModel)]="cashMovement.selectedOperation">
            <mat-radio-button *ngFor="let operation of operations" [value]="operation" (click)="isChecked = true">
                {{operation}} to Cashier
            </mat-radio-button>
            <br />
        </mat-radio-group>
        <br />
        <mat-form-field>
            <input matInput type="number" placeholder="Value" [(ngModel)]="cashMovement.value" />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Comment" [(ngModel)]="cashMovement.comment" />
        </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary" cdkFocusInitial>Cancel</button>
    <button mat-raised-button mat-dialog-close (click)="createMovement()" [disabled]="!isChecked">Cash Movements</button>
</mat-dialog-actions>