<h2 mat-dialog-title *ngIf="!edit">Product Detail</h2>
<h2 mat-dialog-title *ngIf="edit">Edit Product</h2>
<mat-dialog-content>
    <mat-form-field>
        <input matInput type="text" placeholder="Mobile" [(ngModel)]="user.mobile" [disabled]="edit" cdkFocusInitial/>
        <mat-error>Field required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Username" required [(ngModel)]="user.username" />
        <mat-error>Field required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Email" [(ngModel)]="user.email">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="DNI" [(ngModel)]="user.dni">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Product by code" type="text" #code>
    </mat-form-field>
    <button type="submit" mat-mini-fab color="primary" (click)="search(code.value); code.value=''" [disabled]="code.value === ''">
        <mat-icon>search</mat-icon>
    </button>
    <mat-checkbox [(ngModel)]="user.active" *ngIf="edit">Active</mat-checkbox>
    <div *ngIf="edit">
        Registration Date: {{user.registrationDate | date: 'medium'}}
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button *ngIf="edit" (click)="save()">Save</button>
</mat-dialog-actions>