<h2 mat-dialog-title>SJB. Polo manga corta de algodón</h2>
<mat-dialog-actions>
    <mat-list>
        <mat-list-item>
            <button mat-raised-button color="accent" mat-dialog-close>T0 : 12</button>
            <button mat-raised-button color="accent" mat-dialog-close>T2 : 12</button>
            <button mat-raised-button color="accent">T4 : 12</button>
            <button mat-raised-button color="accent">T6 : 12</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-raised-button color="accent">T8 : 12</button>
            <button mat-raised-button color="accent">T10 : 12</button>
            <button mat-raised-button color="accent">T12 : 12</button>
            <button mat-raised-button color="accent">T14 : 12</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-raised-button color="accent">T16 : 12</button>
            <button mat-raised-button color="accent">T18 : 12</button>
            <button mat-raised-button color="accent">TS : -3</button>
            <button mat-raised-button color="accent">TM : 12</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-raised-button color="accent">L : 24</button>
            <button mat-raised-button color="accent">XL : 6</button>
        </mat-list-item>
    </mat-list>
</mat-dialog-actions>