.family-card {
  width: 175px;
  height: 60px;
  margin: 5px;
}

.family-button {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.family-stock {
  position: absolute;
  top: 0;
  right: 0;
}
