<mat-card-header>
  <div mat-card-avatar>
    <mat-icon>view_quilt</mat-icon>
  </div>
  <strong>Articles Family</strong>
</mat-card-header>
<br>
<mat-card-content>
  <div class="container" fxLayout="row wrap">

    <mat-card *ngFor="let article of articleFamilyList.listArticles" fxFlex="auto" fxFlexOffset="1">
      <mat-card-actions>
        <button mat-mini-fab color="accent" type="submit" (click)="add(article.code)">
              <span [matTooltipPosition]="positioncenter" matTooltip="Add Car"> <strong>
              <mat-icon aria-label="addcar">add_shopping_cart</mat-icon>
              </strong></span>
        </button>
      </mat-card-actions>
      <img class="img-article" src="{{imagePathArticle}}" height="100" width="100" alt="Washed Out"
           [matTooltipPosition]="positionabove"
           matTooltip="{{article.description}}"/>
      <br>
      <strong>{{article.reference}}</strong> &nbsp;&nbsp;<strong> ${{article.retailPrice}}</strong>
    </mat-card>

    <mat-card *ngFor="let family of articleFamilyList.listArticleFamily" fxFlex="auto" fxFlexOffset="1">
      <button mat-button matSuffix color="accent" type="submit" (click)="viewArticles(family.reference)">
        <img class="img-article" src="{{imagePathFamily}}" height="100" width="100" alt="Washed Out"
             [matTooltipPosition]="positionabove"
             matTooltip="{{family.reference}}"/>
      </button>
      <br>
      <strong>{{family.reference}}</strong>
    </mat-card>
  </div>
</mat-card-content>
