mat-card-actions {
  margin: 1px 5px 5px 55px !important;
  position: absolute;
}

.container {
  display: flex;
  height: 700px;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}


