<h2 mat-dialog-title *ngIf="!edit">New Offer</h2>
<h2 mat-dialog-title *ngIf="edit">Edit Offer</h2>
<mat-dialog-content>  
    <mat-form-field>
        <input matInput type="text" placeholder="Code of offer" required [readonly]="edit" [(ngModel)]="offer.code" />
        <mat-error>Field required</mat-error>
    </mat-form-field>    
    <mat-form-field>
        <input matInput type="text" placeholder="Percentage" required  [(ngModel)]="offer.percentage" />
        <mat-error>Field required</mat-error>
    </mat-form-field>    
    <mat-form-field class="date">
         <input matInput [matDatepicker]="expiration" placeholder="Choose a expiration date" required [(ngModel)]="offer.expiration">
         <mat-datepicker-toggle matSuffix [for]="expiration"></mat-datepicker-toggle>
         <mat-datepicker #expiration></mat-datepicker>
    </mat-form-field>          
    <mat-form-field>
        <input matInput type="text" placeholder="Description" [(ngModel)]="offer.description" />
    </mat-form-field>	
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>  
    <button mat-raised-button *ngIf="!edit" (click)="create()" [disabled]="!offer.code || !offer.expiration " >Create offer</button>
    <button mat-raised-button *ngIf="edit" (click)="save()" >Save changes</button>
</mat-dialog-actions>