<h2 mat-dialog-title >Search Offer</h2>
<mat-dialog-content>  
    <mat-form-field>
        <input matInput readonly="true" type="text" placeholder="percentage"  [(ngModel)]="offer.percentage" />
        <mat-error>Field required</mat-error>
    </mat-form-field>  
    <mat-form-field>
        <input matInput readonly="true" type="text" placeholder="expiration"  [(ngModel)]="offer.expiration" />
        <mat-error>Field required</mat-error>
    </mat-form-field>   
    <mat-form-field>
        <input matInput readonly="true" type="text" placeholder="description"  [(ngModel)]="offer.description" />
        <mat-error>Field required</mat-error>
    </mat-form-field>    
    <mat-form-field>
        <input matInput type="text"  cdkFocusInitial  placeholder="code" required  [(ngModel)]="offer.code" />
        <mat-error>Field required</mat-error>
    </mat-form-field>  
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button (click)="searchOffer()" cdkFocusInitial [disabled]="!offer.code">Search</button>
</mat-dialog-actions>