<h2 mat-dialog-title>
  <span class="mat-raised-button">Return: {{totalReturn | currency:'EUR':'symbol'}} </span>
  <span class="mat-raised-button">Ticket: {{ticket.id}} </span>
  <span class="mat-raised-button">{{ticket.creationDate | date: 'medium'}} </span>
</h2>
<mat-dialog-content>
  <mat-table class="mat-elevation-z8" #table [dataSource]="dataSource">
    <ng-container matColumnDef="ind">
      <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
      <mat-cell *matCellDef="let i = index"> {{i+1}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let shopping"> {{shopping.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="retailPrice">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let shopping"> {{shopping.retailPrice}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Nº </mat-header-cell>
      <mat-cell *matCellDef="let shopping"> {{shopping.amount}}
        <button mat-icon-button color="accent" (click)="decreaseAmount(shopping)" [disabled]="shopping.amount<=0">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="discount">
      <mat-header-cell *matHeaderCellDef> % </mat-header-cell>
      <mat-cell *matCellDef="let shopping"> {{shopping.discount}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
      <mat-cell *matCellDef="let shopping">{{shopping.total}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="committed">
      <mat-header-cell *matHeaderCellDef> Committed </mat-header-cell>
      <mat-cell *matCellDef="let shopping">
        <mat-checkbox [checked]="shopping.committed" (change)="changeCommitted(shopping)" [disabled]="shopping.committed"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let shopping; columns: displayedColumns;">
    </mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="updateTicket()">
    <mat-icon>euro_symbol</mat-icon> Return
    <mat-icon>check_circle</mat-icon> Commit</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
