<h2 mat-dialog-title>
    Total: {{total | currency:'EUR':'symbol'}}</h2>
<mat-dialog-content>
    <mat-form-field>
        <input matInput type="number" placeholder="Card" [(ngModel)]="card" />
        <button mat-button matSuffix mat-icon-button (click)="fillCard()">
            <mat-icon color="warn">credit_card</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Cash" [(ngModel)]="cash" />
        <button mat-button matSuffix mat-icon-button (click)="fillCash()">
            <mat-icon color="warn">euro_symbol</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Voucher" [disabled]="true" [(ngModel)]="voucher" />
        <button mat-button matSuffix mat-icon-button (click)="consumeVoucher()">
            <mat-icon color="warn">local_offer</mat-icon>
        </button>
    </mat-form-field>
    <div class="mat-raised-button mat-primary" *ngIf="returnCash()>0">Return: {{returnCash() | currency:'EUR':'symbol'}}</div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="accent" (click)="pay()" [disabled]="!isValid()">
        <mat-icon>euro_symbol</mat-icon> Pay <span class="mat-suffix" *ngIf="minimum<total">(+{{minimum}})</span> 
    </button>
</mat-dialog-actions>