<h2 *ngIf="reserve&&reserve>0" mat-dialog-title> Reserva: {{reserve | currency:'EUR':'symbol'}}</h2>
<h2 *ngIf="payable&&payable>0" mat-dialog-title> Abonar ahora: {{payable | currency:'EUR':'symbol'}}</h2>
<h2 *ngIf="unpaid&&unpaid>0" mat-dialog-title> Pendiente de abonar: {{unpaid | currency:'EUR':'symbol'}}</h2>
<mat-dialog-content>
  <mat-form-field>
    <input matInput type="number" placeholder="Card" [(ngModel)]="ticketCreation.card"/>
    <button mat-button matSuffix mat-icon-button (click)="fillCard()">
      <mat-icon color="warn">credit_card</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Cash" [(ngModel)]="ticketCreation.cash"/>
    <button mat-button matSuffix mat-icon-button (click)="fillCash()">
      <mat-icon color="warn">euro_symbol</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Voucher" [disabled]="true" [(ngModel)]="ticketCreation.voucher"/>
    <button mat-button matSuffix mat-icon-button (click)="consumeVoucher()">
      <mat-icon color="warn">local_offer</mat-icon>
    </button>
  </mat-form-field>
  <div class="mat-raised-button mat-primary" *ngIf="returnCash()>0">Return: {{returnCash() | currency:'EUR':'symbol'}}
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" (click)="pay()" [disabled]="!isValid()">
    <mat-icon>euro_symbol</mat-icon>
    Pay
    <span class="mat-suffix" *ngIf="minimum>0">(+{{minimum}})</span>
  </button>
</mat-dialog-actions>
