<h2><mat-icon>receipt</mat-icon> Tickets Management</h2>
<mat-card>
  <mat-card-content>
    <h2 class="example-h2"><mat-icon>search</mat-icon> Search by:</h2>
    <mat-tab-group class="demo-tab-group">
      <!-- DAY -->
      <mat-tab label="Day">
        <div class="demo-tab-content">
          <!-- DATEPICKER 0 -->
          <mat-form-field class="date">
            <input matInput [matDatepicker]="date" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field>
          <!-- DATEPICKER 0 -->
          <!-- BUTTON SEARCH -->
          <button mat-mini-fab color="primary" class="btnSearchTickets"><mat-icon>search</mat-icon></button>
          <!-- BUTTON SEARCH -->
        </div>
      </mat-tab>
      <!-- DIA -->
      <!-- RANGE DAYS -->
      <mat-tab label="Date ranges">
        <div class="demo-tab-content">
          <!-- DATEPICKER 1 -->
          <mat-form-field class="date">
            <input matInput [matDatepicker]="initialDate" placeholder="Choose a initial date">
            <mat-datepicker-toggle matSuffix [for]="initialDate"></mat-datepicker-toggle>
            <mat-datepicker #initialDate></mat-datepicker>
          </mat-form-field>
          <!-- DATEPICKER 1 -->
          <!-- DATEPICKER 2 -->
          <mat-form-field class="date" style="margin-left: 2em;">
            <input matInput [matDatepicker]="finalDate" placeholder="Choose a final date">
            <mat-datepicker-toggle matSuffix [for]="finalDate"></mat-datepicker-toggle>
            <mat-datepicker #finalDate></mat-datepicker>
          </mat-form-field>
          <!-- DATEPICKER 2 -->
          <!-- BUTTON SEARCH -->
          <button mat-mini-fab color="primary" class="btnSearchTickets"><mat-icon>search</mat-icon></button>
          <!-- BUTTON SEARCH -->
        </div>
      </mat-tab>
      <!-- RANGE DAYS -->
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<!-- DATATABLE TICKETS -->
<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="numTicket">
      <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
      <mat-cell *matCellDef="let i = index"> {{i+1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="creationDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> creationDate </mat-header-cell>
      <mat-cell *matCellDef="let ticket"> {{ticket.creationDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let ticket"> {{ticket.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let ticket">
        <button mat-mini-fab color="primary" (click)="viewTicket()"><mat-icon>info</mat-icon></button>
        <button mat-mini-fab color="primary" (click)="showEditDialog()"><mat-icon>edit</mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let ticket; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
<!-- DATATABLE TICKETS -->



