<h3 mat-dialog-title>Cashier Closure</h3>
<table>
    <tr>
        <td><mat-icon>functions</mat-icon></td>
        <td>Total Card: € {{cashierClosure.totalCard}}</td>
    </tr>
    <tr>
        <td><mat-icon>functions</mat-icon></td>
        <td>Total Cash: € {{cashierClosure.totalCash}}</td>
    </tr>
</table>
<br />
<mat-dialog-content>
        <mat-form-field>
            <input matInput type="number" placeholder="Final Cash" [(ngModel)]="cashierClosure.finalCash" />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Sales Card" [(ngModel)]="cashierClosure.salesCard" />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Comment" [(ngModel)]="cashierClosure.comment" />
        </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary" cdkFocusInitial>Cancel</button>
    <button mat-raised-button mat-dialog-close (click)="close()">Close Cashier</button>
</mat-dialog-actions>