<h3 mat-dialog-title>Cashier Closure</h3>
<mat-dialog-content>
    <mat-form-field>
        <input matInput type="number" placeholder="Final Voucher" value="{{cashierClosure.totalVoucher}}" readonly />
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Final Cash (€ {{cashierClosure.totalCash}})" [(ngModel)]="cashierClosure.finalCash"
            required cdkFocusInitial />
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Sales Card (€ {{cashierClosure.totalCard}})" [(ngModel)]="cashierClosure.salesCard"
            required />
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Comment" [(ngModel)]="cashierClosure.comment" />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="accent" (click)="close()" [disabled]="invalid()">Close Cashier</button>
</mat-dialog-actions>