<h2 mat-dialog-title>Total: {{total | currency:'EUR':'symbol'}}</h2>
<mat-dialog-content>
    <mat-form-field>
        <input matInput type="number" placeholder="Mobile" [(ngModel)]="ticketCreation.userMobile" [disabled]="existUser()" />
        <button mat-button matSuffix mat-icon-button (click)="findMobile()" *ngIf="ticketCreation.userMobile">
            <mat-icon *ngIf="!isMobileSynchronized()" color="warn">search</mat-icon>
        </button>
        <button mat-button matSuffix mat-icon-button *ngIf="existUser()" (click)="editMobile()">
            <mat-icon color="warn">mode_edit</mat-icon>
        </button>
        <button mat-button matSuffix mat-icon-button *ngIf="existUser()" (click)="deleteMobile()">
            <mat-icon color="warn">close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Card" [(ngModel)]="ticketCreation.card" />
        <button mat-button matSuffix mat-icon-button aria-label="Card" (click)="fillCard()">
            <mat-icon color="warn">credit_card</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Cash" [(ngModel)]="ticketCreation.cash" />
        <button mat-button matSuffix mat-icon-button aria-label="Eur" (click)="fillCash()">
            <mat-icon color="warn">euro_symbol</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Voucher" [disabled]="true" [(ngModel)]="ticketCreation.voucher" />
        <button mat-button matSuffix mat-icon-button aria-label="Voucher" (click)="consumeVoucher()">
            <mat-icon color="warn">local_offer</mat-icon>
        </button>
    </mat-form-field>
</mat-dialog-content>
<h4 mat-dialog-title>Return: {{returnedCash() | currency:'EUR':'symbol'}}</h4>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close cdkFocusInitial>Cancel</button>
    <button mat-raised-button  mat-dialog-close color="accent" (click)="checkOut()" [disabled]="invalidCheckOut()">Check Out</button>
    <button mat-raised-button color="accent" (click)="createInvoice()" [disabled]="invalidInvoice()">Invioce</button>
    <!-- ENTRA EN BUCLE Y TE SATURA EL EQUIPO!!!!! <button mat-raised-button mat-dialog-close (click)="reservation()" [disabled]="invalidReservation()">Reservation</button>-->
</mat-dialog-actions>