<mat-card>
    <mat-card-title>
        <mat-icon color="primary">shopping_cart</mat-icon> Shooping Cart {{shoppingCartService.total | currency:'EUR':'symbol'}}
    </mat-card-title>
    <mat-card-content>
        <mat-table class="mat-elevation-z8" #table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                <mat-cell *matCellDef="let i = index"> {{i+1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.description}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="retailPrice">
                <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.retailPrice}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef> Nº </mat-header-cell>
                <mat-cell *matCellDef="let item">
                    <input matInput type="number" step="1" min="1" [value]="item.amount" (blur)="update(item, $event, 'amount')" />
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="discount">
                <mat-header-cell *matHeaderCellDef> % </mat-header-cell>
                <mat-cell *matCellDef="let item">
                    <input matInput type="number" [value]="item.discount" (blur)="update(item, $event, 'discount')" />
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="total">
                <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
                <mat-cell *matCellDef="let item">
                    <input matInput type="number" [value]="item.total" (blur)="update(item, $event, 'total')" />
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="committed">
                <mat-header-cell *matHeaderCellDef>
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="exchange()">
                        <mat-icon color="warn">autorenew</mat-icon>
                    </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let item">
                    <mat-checkbox [checked]="item.committed" (change)="changeCommitted(item)"></mat-checkbox>
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="delete(item)">
                        <mat-icon color="warn">close</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let item; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <form>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Product by code" type="text" #code>
            </mat-form-field>
            <button type="submit" mat-mini-fab color="primary" (click)="add(code.value); code.value=''" [disabled]="code.value === ''">
                <mat-icon>search</mat-icon>
            </button>
        </form>
        <button mat-raised-button color="accent" (click)="checkOut()" [disabled]="shoppingCartService.total===0">Check out</button>
    </mat-card-content>
</mat-card>