<h2 mat-dialog-title>Total: {{total | currency:'EUR':'symbol'}}</h2>
<mat-dialog-content>
    <!--Input-->
    <mat-form-field>
        <input matInput type="number" placeholder="Mobile" [(ngModel)]="ticketCreation.userMobile" [disabled]="foundMobile" />
        <button mat-button matSuffix mat-icon-button aria-label="Mobile" (click)="checkMobile()" *ngIf="ticketCreation.userMobile">
            <mat-icon *ngIf="mobileSynchronize()" color="warn">cached</mat-icon>
            <mat-icon *ngIf="foundMobile">done</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Card" [(ngModel)]="ticketCreation.card" />
        <button mat-button matSuffix mat-icon-button aria-label="Card" (click)="fill('card')">
            <mat-icon color="warn">credit_card</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Cash" [(ngModel)]="ticketCreation.cash" />
        <button mat-button matSuffix mat-icon-button aria-label="Eur" (click)="fill('cash')">
            <mat-icon color="warn">euro_symbol</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Voucher" [(ngModel)]="ticketCreation.voucher" />
        <button mat-button matSuffix mat-icon-button aria-label="Voucher" (click)="fill('voucher')">
            <mat-icon color="warn">check_circle</mat-icon>
        </button>
    </mat-form-field>
</mat-dialog-content>
<h4 mat-dialog-title>Return: {{return() | currency:'EUR':'symbol'}}</h4>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close cdkFocusInitial>Cancel</button>
    <button mat-raised-button mat-dialog-close (click)="checkOut()" [disabled]="invalidCheckOut()">Check Out</button>
    <button mat-raised-button>Invioce</button>
</mat-dialog-actions>