<h2 mat-dialog-title>New Customer</h2>
<mat-dialog-content>
    <mat-form-field>
        <input matInput type="number" placeholder="Mobile" [value]="user.mobile" [disabled]="true" />
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Username" required cdkFocusInitial [(ngModel)]="user.username" />
        <mat-error>Field required</mat-error>
    </mat-form-field>
    <!--Accordion-->
    <mat-accordion>
        <mat-expansion-panel flex layout="column">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    More information
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="column">
                <mat-form-field>
                    <input matInput type="email" placeholder="Email" [(ngModel)]="user.email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="DNI" [(ngModel)]="user.dni">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Address" [(ngModel)]="user.address">
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button (click)="create()" cdkFocusInitial [disabled]="!user.username">Create</button>
</mat-dialog-actions>