<mat-toolbar color="primary" class="container">
  <img src="../../assets/img/miw.png" />
  <span>TPV</span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button *ngIf="!tokensService.isLogged()" mat-menu-item (click)="login()">
    <mat-icon>person_outline</mat-icon>
    <span>Login</span>
  </button>
  <button *ngIf="tokensService.isLogged()" mat-menu-item (click)="logout()">
    <mat-icon>person</mat-icon>
    <span>Logout</span>
  </button>
  <button *ngIf="tokensService.isAdmin()" mat-menu-item [matMenuTriggerFor]="settings">
    <mat-icon>settings</mat-icon>
    <span>Admin</span>
  </button>
</mat-menu>
<mat-menu #settings="matMenu">
  <button mat-menu-item  (click)="seedDb()">Seed Database</button>
  <button mat-menu-item  (click)="deleteDb()">Delete Database</button>
</mat-menu>

<router-outlet></router-outlet>

<mat-toolbar color="primary">
  <div layout="row" layout-align="center center" flex>
    &copy; Universidad Politécnica de Madrid. Máster en Ingeniería Web. BETCA: Spring
  </div>
</mat-toolbar>