<div class="card text-white bg-{{bgClass}}">
  <div class="card-header">
    <div class="row">
      <div class="col col-xs-3">
        <i class="fa {{icon}} fa-5x"></i>
      </div>
      <img src="../../../../assets/img/articles/book (11).jpg" height="80" width="70"/>
      <div class="col col-xs-9 text-right">

        <div class="d-block huge">  <h3>Stock: </h3>{{count}}</div>

        <div class="d-block"><h3>Description: </h3>{{label}}</div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <span class="float-left"><h3>Detail:</h3> {{data}}</span>
    <a href="javascript:void(0)" class="float-right card-inverse">
      <span><i class="fa fa-arrow-circle-right"></i></span>
    </a>
    <mat-divider></mat-divider>
    <button mat-raised-button color="primary">Add Car</button>
  </div>


</div>
