<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>view_quilt</mat-icon>
    </div>
    <mat-card-title>Articles</mat-card-title>
    <mat-card-subtitle>Family</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mat-grid-list cols="4" rowHeight="1:2" style="border: 1px">

      <mat-grid-tile *ngFor="let article of listArt">

        <mat-card>
          <mat-card-actions>
            <button mat-mini-fab color="primary">
              <mat-icon  aria-label="addcar">add_shopping_cart</mat-icon>
            </button>
          </mat-card-actions>
          <img src="{{imagePathArticle}}" height="120" width="100" alt="Washed Out"/>
          <mat-card-title>
            <span class="mat-card-header">{{article.reference}}</span>
          </mat-card-title>
          <mat-card-content>
            <h5>Price: ${{article.retailPrice}}</h5>
            <span matTooltip="{{article.description}}">Detail?</span>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>


</mat-card>

