<mat-toolbar color="primary">
    <img src="../../assets/img/miw.png" />
    <span>TPV</span>
    <span class="toolbar-spacer"></span>
    <button mat-button (click)="login()">
        <mat-icon>person_outline</mat-icon>
        <span>Login</span>
    </button>
</mat-toolbar>

<h2>Bienvenido al TPV</h2>

<form>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Articles tracking" type="text" #code>
    </mat-form-field>
    <button type="submit" mat-mini-fab color="primary" (click)="trackArticles(code.value); code.value=''" [disabled]="code.value === ''">
        <mat-icon>search</mat-icon>
    </button>
</form>
