<form>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Articles tracking" type="text" #ticket>
    </mat-form-field>
    <button type="submit" mat-mini-fab color="primary" (click)="trackArticles(ticket.value)"[disabled]="ticket.value === ''">
        <mat-icon>search</mat-icon>
    </button>
    <p>Button pressed with ticket: {{ ticketValue }}</p>
</form>

<app-crud [title]="title" [columns]="columns" [deleteAction]="false" [createAction]="false" [readAction]="false" [data]="data"
  (edit)="edit($event)"></app-crud>

