<h2 mat-dialog-title >Edit Profile</h2>
<mat-dialog-content>
    <mat-form-field>
        <input matInput type="number" placeholder="Mobile" [(ngModel)]="user.mobile" cdkFocusInitial/>
        <mat-error>Field required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Username" [(ngModel)]="user.username" />
        <mat-error>Field required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" required>
        <mat-error>Field required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Repeat Password" [(ngModel)]="confirmPassword" required
        />
        <mat-error>Field required</mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="accent" (click)="save()" [disabled]="isPasswordInvalid()">Save</button>
</mat-dialog-actions>