<h2 mat-dialog-title *ngIf="!edit">New Customer</h2>
<h2 mat-dialog-title *ngIf="edit">Changing Password</h2>
<mat-dialog-content>
    <mat-form-field>
        <input matInput type="number" placeholder="Mobile" [(ngModel)]="user.mobile" [disabled]="edit" cdkFocusInitial/>
        <mat-error>Field required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Username" [(ngModel)]="user.username" [disabled]="edit" />
        <mat-error>Field required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="user.address" required>
        <mat-error>Field required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="New Password" [(ngModel)]="password" required>
        <mat-error>Field required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Repeat Password" [(ngModel)]="confirmPassword" (keyup)="isPasswordInvalid()" required
        />
        <mat-error>Field required</mat-error>
        <pre *ngIf="isPasswordInvalid()" >Password mismatch</pre>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button *ngIf="edit" (click)="save()">Save</button>
</mat-dialog-actions>