<h3 mat-dialog-title>Changing Password</h3>
<mat-dialog-content>
    <mat-form-field>
        <input matInput type="text" placeholder="Mobile" [(ngModel)]="mobile" />
        <button mat-button *ngIf="mobile" matSuffix mat-icon-button aria-label="Clear" (click)="mobile=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Old Password" [(ngModel)]="password" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="New Password" [(ngModel)]="newPassword" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Repeat Password" [(ngModel)]="repeatPassword" />
</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="this" cdkFocusInitial>Save</button>
</mat-dialog-actions>