<h2 mat-dialog-title *ngIf="!edit">New Provider</h2>
<h2 mat-dialog-title *ngIf="edit">Edit Provider</h2>
<mat-dialog-content>
    <mat-form-field *ngIf="edit">
        <input matInput type="text" placeholder="Id" [(ngModel)]="provider.id" [disabled]="edit" required cdkFocusInitial/>
        <mat-error>Field required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Company" required [(ngModel)]="provider.company" />
        <mat-error>Field required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Nif" [(ngModel)]="provider.nif">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Address" [(ngModel)]="provider.address">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Phone" [(ngModel)]="provider.phone">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Email" [(ngModel)]="provider.email">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Note" [(ngModel)]="provider.note">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="provider.active" *ngIf="edit">Active</mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button [disabled]="!provider.company" *ngIf="edit" (click)="save()">Save</button>
    <button mat-raised-button [disabled]="!provider.company" *ngIf="!edit" (click)="create()">Create</button>
</mat-dialog-actions>