<mat-toolbar color="primary">
  <img src="../../assets/img/miw.png" />
  <span>TPV</span>
  <span class="toolbar-spacer"></span>
  <span>
    <app-date format="medium"></app-date>
    <button mat-button (click)="logout()">
      <mat-icon>person</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-button (click)="password()">
      <mat-icon>account_box</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </span>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button *ngIf="tokensService.isAdmin()" mat-menu-item [matMenuTriggerFor]="settings">
    <mat-icon>settings</mat-icon>
    <span>Admin</span>
  </button>
  <button mat-menu-item (click)="home()">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button *ngIf="!cashierClosed" mat-menu-item (click)="closeCashier()">
    <mat-icon>work</mat-icon>
    <span>Close Cashier</span>
  </button>
    <button mat-menu-item [matMenuTriggerFor]="offers">
    <mat-icon>thumb_up</mat-icon>
    <span>Offers</span>
  </button>
  <button mat-menu-item (click)="cashMovement()">
    <mat-icon>euro_symbol</mat-icon>
    <span>Cash Movements</span>
  </button>
  <button mat-menu-item (click)="customers()">
    <mat-icon>account_circle</mat-icon>
    <span>Customers</span>
  </button>
  <button mat-menu-item (click)="providers()">
    <mat-icon>local_shipping</mat-icon>
    <span>Providers</span>
  </button>
  <button mat-menu-item (click)="tickets()">
    <mat-icon>receipt</mat-icon>
    <span>Tickets</span>
  </button>
  <button mat-menu-item (click)="article()">
    <mat-icon>view_list</mat-icon>
    <span>Artículos</span>
  </button>
  <button mat-menu-item (click)="vouchers()">
    <mat-icon>local_offer</mat-icon>
    <span>Vouchers</span>
  </button>
  <button mat-menu-item (click)="statistics()">
    <mat-icon>assessment</mat-icon>
    <span>Statistics</span>
  </button>
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>Busqueda avanzada</span>
  </button>
  <button mat-menu-item (click)="statistics2()">
    <mat-icon>assessment</mat-icon>
    <span>Statistics2</span>
  </button>
  <button mat-menu-item (click)="stockAlerts()">
    <mat-icon>notifications</mat-icon>
    <span>Stock alerts</span>
  </button>
  <button mat-menu-item (click)="schedule()">
    <mat-icon>schedule</mat-icon>
    <span>Agenda</span>
  </button>
  <button mat-menu-item (click)="budgets()">
    <mat-icon>receipt</mat-icon>
    <span>Budgets</span>
  </button>
  <button mat-menu-item (click)="Orders()">
    <mat-icon>local_shipping</mat-icon>
    <span>Orders</span>
  </button>
</mat-menu>
<mat-menu #settings="matMenu">
  <button mat-menu-item (click)="seedDb()">Seed Database</button>
  <button mat-menu-item (click)="deleteDb()">Delete Database</button>
  <button mat-menu-item (click)="roleManagement()">Role Management</button>
</mat-menu>
<mat-menu #offers="matMenu">
  <button mat-menu-item (click)="searchOffer()">Search Offer</button>
  <button mat-menu-item (click)="managmentOffers()">Managment Offer</button>
</mat-menu>
<router-outlet></router-outlet>